{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to the cushion store where you can buy comfy and awesome cushions.
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - Perfect Cushion Store
    {% else %}
        See Our Cushion Collection - Perfect Cushion Store
    {% endif %}
{% endblock %}
{% block content %}
    {% if category %}
        <div class="row my_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'shop:all_products' %}">Our Product Collection</a> | {{ category.name }}</p>
            </div>
        </div>
    {% endif %}
    <div class="mx-auto">
    {% if category %}
        <img class="my_image" src="{{ category.image.url }}" alt="{{ category.name }}">
    </div>
    <br>
    <div>
        <h1 class="text-center my_title">{{ category.name }}</h1>
        <p class="text-justify">{{ category.description }}</p>
    </div>
    {% else %}
    <div>
        <img class="my_image my_image_padding" src="{% static 'img/banner.jpg' %}" alt="Our Products Collection">
        <br>
        <h1 class="text-center my_title">Our Products Collection</h1>
        <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate iste excepturi, distinctio atque culpa corporis aspernatur molestias quasi nobis voluptates animi aliquid sint, ullam, accusantium fuga ducimus temporibus praesentium esse neque ut nesciunt veniam. Quas, dolor aliquid, molestias facilis quod deleniti distinctio ipsum natus illum sunt labore vel! Odio, iure!</p>
    </div>
    {% endif %}
    <div class="container">
        <div class="row mx-auto">
            {% for product in products %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
                <div class="card text-center" style="min-width: 18rem;">
                    <a href="{{ product.get_url }}"><img class="card-img-top my_image" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                    <div class="card-body">
                        <h4>{{ product.name }}</h4>
                        <p>{{ Product.price }} won</p>
                    </div>
                </div>
            </div>            
            {% endfor %}
        </div>
    </div>
{% endblock %}